<p id="notice"><%= notice %></p>

<h3>
  <%= @post.title %>
</h3>

<p id="post_body">
  <%= simple_format(@post.body) %>
</p>

<% if current_user == @post.user %><%= link_to 'Edit', edit_post_path(@post) %><% end %> |
<%= link_to 'Back', posts_path %>
