<div class="text-center black-link">
  <h6 class="mb-2">
    SOCIAL
  </h6>
  <ul class="list-unstyled">
    <li class="mb-1">
      <%= link_to fa_icon('facebook', class: "unlink-text"), "https://www.facebook.com/isaiah.thompkins.7", target: "_blank" %>
    </li>
    <li class="mb-1">
      <%= link_to fa_icon('twitter', class: "unlink-text"), "https://twitter.com/ithompkins41", target: "_blank" %>
    </li>
    <li class="mb-1">
      <%= link_to fa_icon('instagram', class: "unlink-text"), "https://www.instagram.com/ithompkins4/", target: "_blank"  %>
    </li>
  </ul>
  <h6 class="mb-2">
    WORK
  </h6>
  <ul class="list-unstyled">
    <li class="mb-1">
      <%= link_to fa_icon('github', class: "unlink-text"), "https://github.com/iThompkins", target: "_blank"  %>
    </li>
    <li class="mb-1">
      <%= link_to fa_icon('linkedin', class: "unlink-text"), "https://www.linkedin.com/in/isaiah-thompkins-034076115/", target: "_blank"  %>
    </li>
    <li class="mb-1">
      <%= link_to fa_icon('user', class: "unlink-text"), "https://app.joinhandshake.com/users/5941762", target: "_blank"  %>
    </li>
  </ul>
</div>
