<div class="text-center black-link">
  <div class="mb-3">
    <div class="mb-3">
      <%= image_tag('iThompkinsHeadshot.png', class: "img-thumbnail w-50", style: "border-radius: 30px;") %>
    </div>
    <div class="">
      <p class="col-9 small mx-auto">
        A Software Developer with a focus in Full-Stack Web Development
      </p>
    </div>
  </div>
  <div>
    <h4 class="mb-2">
      WORK
    </h4>
    <ul class="list-unstyled">
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="right" title="GitHub">
        <%= link_to fa_icon('github', class: "unlink-text text-dark icon"), "https://github.com/iThompkins", target: "_blank"  %>
      </li>
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="right" title="LinkedIn">
        <%= link_to fa_icon('linkedin', class: "unlink-text text-dark icon"), "https://www.linkedin.com/in/isaiah-thompkins-034076115/", target: "_blank"  %>
      </li>
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="right" title="Handshake">
        <%= link_to fa_icon('user', class: "unlink-text text-dark icon"), "https://app.joinhandshake.com/users/5941762", target: "_blank"  %>
      </li>
    </ul>
    <h4 class="mb-2">
      SOCIAL
    </h4>
    <ul class="list-unstyled">
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="right" title="Facebook">
        <%= link_to fa_icon('facebook', class: "unlink-text text-dark icon"), "https://www.facebook.com/isaiah.thompkins.7", target: "_blank" %>
      </li>
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="right" title="Twitter">
        <%= link_to fa_icon('twitter', class: "unlink-text text-dark icon"), "https://twitter.com/ithompkins41", target: "_blank" %>
      </li>
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="right" title="Instagram">
        <%= link_to fa_icon('instagram', class: "unlink-text text-dark icon"), "https://www.instagram.com/ithompkins4/", target: "_blank"  %>
      </li>
    </ul>
  </div>
</div>
