<div class="text-center black-link info_sidebar">
  <div class="mb-4">
    <h1 class="Yellowtail">Hi, I'm Isaiah</h1>
    <div class="mb-3">
      <%= image_tag('iThompkinsHeadshot.png', class: "img-thumbnail w-75", style: "border-radius: 30px;") %>
    </div>
  </div>
  <div class="col-11 ml-1">
    <ul class="list-unstyled row mb-4">
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="bottom" title="GitHub">
        <%= link_to fa_icon('github', class: "unlink-text text-dark icon"), "https://github.com/iThompkins", target: "_blank"  %>
      </li>
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="bottom" title="LinkedIn">
        <%= link_to fa_icon('linkedin', class: "unlink-text text-dark icon"), "https://www.linkedin.com/in/isaiah-thompkins-034076115/", target: "_blank"  %>
      </li>
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="bottom" title="Handshake">
        <%= link_to fa_icon('user', class: "unlink-text text-dark icon"), "https://app.joinhandshake.com/users/5941762", target: "_blank"  %>
      </li>
    </ul>
    <ul class="list-unstyled row">
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="bottom" title="Facebook">
        <%= link_to fa_icon('facebook', class: "unlink-text text-dark icon"), "https://www.facebook.com/isaiah.thompkins.7", target: "_blank" %>
      </li>
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="bottom" title="@iThompkins41">
        <%= link_to fa_icon('twitter', class: "unlink-text text-dark icon"), "https://twitter.com/ithompkins41", target: "_blank" %>
      </li>
      <li class="mb-2 col-2 mx-auto" data-toggle="tooltip" data-placement="bottom" title="@iThompkins4">
        <%= link_to fa_icon('instagram', class: "unlink-text text-dark icon"), "https://www.instagram.com/ithompkins4/", target: "_blank"  %>
      </li>
    </ul>
  </div>
</div>
