<!DOCTYPE html>
<html>
  <head>
    <title>Sideline Programmer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7009718179816063",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>
    <div class="bg-light">
      <%= render 'layouts/header' %>
    </div>
    <div class="mb-5">
      <%= render 'layouts/navbar' %>
    </div>
    <div class="row">
      <div class="col-2">
        <%= render 'layouts/info_sidebar' %>
      </div>
      <div class="col-7">
        <%= yield %>
      </div>
      <div class="col-2">
        <%= render 'layouts/content_sidebar' %>
      </div>
    </div>
  </body>
</html>
