<!DOCTYPE html>
<html>
  <head>
    <title>Sideline Programmer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7009718179816063",
        enable_page_level_ads: true
      });
    </script>
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
  </head>

  <body class="" stlye="color:#3A2F28">
    <div class="d-block d-md-none" style="background-color: #E0DFCC">
      <%= render 'layouts/header'%>
    </div>
    <div class="row col-12" style="height:100vh;">
      <div class="col-3 border-right d-none d-md-block" style="background-color: #E0DFCC">
        <div class="mt-5">
          <%= render 'layouts/info_sidebar' %>
        </div>
      </div>
      <div class="col-9 d-none d-sm-block">
        <%= yield %>
      </div>
      <div class="col-11 d-block d-sm-none">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
